a:hover{
  color:rgb(168,198,0);
}

body{
  background:rgb(21,38,136);
  margin-bottom:65px;
}

p{
  color:rgb(125,221,225);
}

/*
This is for sizing the text box of
each listed Wikipedia articles.
*/
.lb {
  background:rgb(169,9,154);
  margin-bottom: 20px;
  margin-left:0px;
  margin-right: 50px;
  padding-bottom: 5px;
  text-align: left;
  padding-top: 5px;
  padding-left:5px;
  padding-right:5px;
  border-radius:4px;
  list-style:none;
  display: block;
  height:auto;
  width:90%;
  

}

/*
After the mouse hovers on the listed
article, this will activate a left
green colored border.
*/
.lb:hover {
  border-left: 5px solid rgb(168,198,0);
}


#title{
 margin-top: 60px;
 color:rgb(125,221,225);
  
}
/*
This is for sizing the margins for
the linked random Wikipedia article.
*/
#random{
  margin-top: 15px;
  margin-bottom: 25px;
}
/*
This is for sizing the input
text of the search bar.
*/
#srchT{

  margin:0 auto;
  width: 60%;
}
/*
This is for sizing the search
button.
*/
#srch{
  margin: 0 auto;
  display:block;
  margin-top: 25px;
  padding-right:8px;
  padding-left:8px;
  width: 70px;
  margin-bottom: 70px;
}

/************************************
This whole typography algorithm function was founded on Chris Lam's youtube video
and I credit this author's algorithm function that would make the text bigger 
on large screen width sizes or smaller on
small screen width sizes. 
Original code found on this link:
https://github.com/doctorlam/responsive-font-size/blob/master/typography.css
*************************************/
/*
/*This whole algorithm uses a 
  typography technique which makes
  text bigger or smaller depending
  on the size of a browser or 
  device.*/
html {
	font-size: 13px;
}

h1 {
	font-size: 2.25rem;
  text-align: center;
}
h2 {
	font-size: 1.3rem;
  margin: auto;
}
h3{
  font-size: 0.95rem;
  margin: auto
}
h6{
  font-size: 1.0rem;
  margin: auto
}
p{
	font-size: 1rem;
  line-height: 1.3em;
  margin: auto;
}

 li {
	font-size: 1rem;
  line-height: 1.3em;
  margin: auto;
}

/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 500 pixels.*/
@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }

}
/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 570 pixels.*/
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }

}
/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 620 pixels.*/
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 680 pixels.*/
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}

/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 720 pixels.*/
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}

/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 800 pixels.*/
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}

/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 860 pixels.*/
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}

/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 920 pixels.*/
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}

/*This whole function basically changes
  the font-size whenever the browser
  size or device is greater than or 
  equal to 1000 pixels.*/
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;  
  }
}